*{
    box-sizing:border-box;
    position: relative;
    margin: auto;
    margin: 1.9%;
}

.container{
    margin: auto;
    margin-left: 100pt;
    border-radius: 300px;
    padding: 0px;
}

h1{
    border-radius: 340px;
    background-color: #000000;
    color: #ccc;
    text-align: center;
    position: relative;
    top: 1px;
    margin: auto;
}

hr{
    margin: 5px;
    border-color: #000000;
}

.card{
    margin: auto;
    border: 1px solid #999999;
    width: 30%;
    display:inline-block;
    border-radius: 20px 20px 20px 20px ;
}

.image{
    width: 60%;
    margin: auto;
    text-align: center;

}

.card img{
    margin: auto;
    position: relative;
    top: 10px;
    width: 100%;
    height: 130px;
}

h2{
    margin: auto;
    background-color: #0000;
    text-align: left ;
    padding: 10px;
}

p{
    margin: auto;
    width: 100%;
    text-align: justify;
    padding: 10px;
    line-height: 20px;
    position: relative;
    top: -10px;
}

a{
    position: relative;
    top: -20px;
    margin: 10px;
}

footer{
    border-radius: 340px;
    background-color: #ccc;
    text-align: center;
    padding: 5px;
    
}